streamlit>=1.30.0
pandas>=2.0.0
numpy>=1.24.0
pillow
plotly>=5.14.0
matplotlib
altair>=5.0.0
requests>=2.28.0
python-dotenv>=1.0.0
streamlit-lottie
streamlit-option-menu>=0.3.2
streamlit-extras
prefect>=2.13.0
scikit-learn
joblib
pydantic
httpx
sqlalchemy
prefect-sqlalchemy>=0.2.4
streamlit-shadcn-ui>=0.1.6 