streamlit
pandas
numpy
pillow
plotly
matplotlib
altair
requests
python-dotenv
streamlit-lottie
streamlit-option-menu
streamlit-extras
prefect
scikit-learn
joblib
pydantic
httpx
sqlalchemy
prefect-sqlalchemy 